# folders
assets/
build/
expected/
junk/
__pycache__/
decomp-permuter/
asm/
nonmatchings/
stats/

# files
*.ld
*.ok
*auto.txt
*.z64
*.old
ctx.c
.ninja_log
build.ninja
function_references.txt
build_output.txt
shell_scripts.txt
